TBX_ISO30042-Basic - DCT.odd

<?xml version="1.0" encoding="UTF-8"?>
<!-- <?oxygen RNGSchema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tbxodd.rnc" type="compact"?>-->
<?oxygen RNGSchema="tei_odds.rnc" type="compact"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://www.ascc.net/xml/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Systems to manage terminology, knowledge, and content - TermBase eXchange
                    (TBX)</title>

            </titleStmt>
            <publicationStmt>
                <publisher>LTAC Global</publisher>
                <date>October 29, 2008</date>
            </publicationStmt>
            <sourceDesc>
                <p>This is the Core Structure for TBX</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <!-- annex D: Descriptions of the core structure and constraints (in RNG format) (this section includes all the data specifications in ODD declarations-->
            <div1>
                <head>Declarations</head>
                <schemaSpec ident="TBX-Basic"
                    start="adminGrp descripGrp transacGrp termNoteGrp admin descrip termNote tranac ref transacNote xref"
                    ns="http://www.tbxinfo.net/ns/dct/basic">
                    <specGrpRef target="#spec-term-entries"/>

                    <specGrpRef target="#spec-macros-entities"/>
                    <specGrpRef target="#spec-classes-atts"/>
                    <!--<specGrpRef target="#spec-other-elements"/>-->
                </schemaSpec>

                <specGrp xml:id="spec-term-entries">
                    <specGrpRef target="#spec-admin"/>
                    <elementSpec ident="adminGrp" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <desc>An element that contains a group of elements that contain
                            administrative information.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <macroRef key="admin"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-descrip"/>
                    <elementSpec ident="descripGrp" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <desc>Contains one <gi>descrip</gi> element as well as additional child
                            elements for associated administrative information.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="descrip"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="admin"/>
                                <elementRef key="adminGrp"/>
                                <elementRef key="transacGrp"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-ref"/>
                    <specGrpRef target="#spec-termNote"/>
                    <elementSpec ident="termNoteGrp" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <desc>A grouping element that contains one <gi>termNote</gi> element, and
                                <ref target="#entity.noteLinkInfo">auxiliary information</ref> such
                            as administrative information, transaction information, notes and cross
                            references. It does not allow any <gi>descrip</gi> elements. It can only
                            appear at the term (termSec) level and below.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <macroRef key="termNote"/>
                            <elementRef key="entity.noteLinkInfo"/>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-transac"/>
                    <elementSpec ident="transacGrp" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <desc>An element that includes child elements that provide information about
                            a transaction. </desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <macroRef key="transac"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="transacNote"/>
                                <elementRef key="date"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-transacNote"/>
                    <specGrpRef target="#spec-xref"/>
                    <!--<elementSpec ident="conceptEntry">
                        <desc>The root element of a terminological entry. It shall contain at least
                            one language section.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="entity.auxInfo"/>
                            <elementRef key="langSec" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="date">
                        <desc>A date in ISO format. Permissible date values comply with ISO 8601 and
                            shall use the format yyyy-mm-dd. The date element is used with
                            terminology management data-categories in a <gi>transacGrp</gi> element. </desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <dataRef name="date"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="langSec">
                        <desc>A nesting element that contains all the information in a
                            terminological entry pertaining to one language, including all the
                                <gi>termSec</gi> elements (terms and associated information) for
                            that language.</desc>
                        <content>
                            <elementRef key="entity.auxInfo"/>
                            <elementRef key="termSec" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                        <attList>
                            <attDef ident="xml:lang" usage="req">
                                <desc>Indicates the language of the language section. This attribute
                                    is required for the <gi>langSec</gi> element. See also the
                                    description on the <gi>tbx</gi> element.</desc>
                                <datatype>
                                    <!-\- to declare the languages used in a TBX document instance, specify the language codes as shown below. This sample markup should
								be inserted to REPLACE the <text/> element. Substitute the values "en" and "de" with your own language code values, and add  more values as needed.  You can use any language code 
								format that is supported by IETF RFC 4646 or its successor.
								Sample markup starts here to replace <text/>
								<rng:choice>
								<rng:value>en</rng:value>
								<rng:value>de</rng:value>
								</rng:choice>
								Sample markup ends here to replace <text/>-\->
                                    <textNode/>
                                </datatype>
                            </attDef>
                        </attList>

                        <!-\- attributes also include "lang"?? -\->
                    </elementSpec>
                    <elementSpec ident="note">
                        <desc>Any kind of note. </desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="term">
                        <desc>The term that is being described in a <gi>termSec</gi>. This element,
                            as well as other term-like elements such as those mentioned in the table
                                <emph>Types of terms, relations to terms</emph> in section 9, can
                            contain a <gi>hi</gi> element to allow a limited amount of inline
                            markup. This is intended to handle markup requirements in special cases
                            such as may be required for terms that represent scientific concepts.
                            However, it is strongly recommended to use inline markup only when
                            necessary to represent the term in its base form. Do not use the
                                <gi>hi</gi> element for presentational styles chosen for esthetic
                            purposes.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="entity.basicText"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="termComp">
                        <desc>A term component. It includes the text of a part of a word (such as a
                            morpheme or a syllable) or one of the words making up a multi-word term.
                            The type of term component will depend on the value of the
                                <att>type</att> attribute of the <gi>termCompSec</gi>
                            element.</desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="termCompGrp">
                        <desc>A grouping element that includes one <gi>termComp</gi> plus additional
                            elements describing the term component, such as notes, administrative
                            information, and cross references.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="termComp"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <elementRef key="termNote"/>
                                <elementRef key="termNoteGrp"/>
                            </alternate>
                            <elementRef key="entity.noteLinkInfo"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="termCompSec">
                        <desc>A grouping element that contains at least one <gi>termComp</gi>
                            element (usually more) or at least one <gi>termCompGrp</gi> element plus
                            optionally some additional information about the term components. This
                            element is designed to contain the components of a term. The value of
                            the <att>type</att> attribute indicates what type of term components it
                            contains.</desc>

                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="entity.auxInfo"/>
                            <alternate minOccurs="1" maxOccurs="unbounded">
                                <elementRef key="termComp"/>
                                <elementRef key="termCompGrp"/>
                            </alternate>
                        </content>

                        <attList>
                            <attDef ident="type" usage="req">
                                <desc>Indicates the type of the <gi>termCompSec</gi>, such as
                                        <val>hyphenation</val>. The value indicates on what basis
                                    the term components were identified, such as by hyphenation
                                    parts or by syllables.</desc>
                                <valList type="closed">
                                    <valItem ident="hyphenation">
                                        <gloss>Hyphenation</gloss>
                                        <desc>The <gi>termComp</gi> elements contain the parts of a
                                            term as it would be hyphenated, such as at the end of a
                                            line, according to a given set of rules.</desc>
                                        <!-\- kara : comment omitted, not essential -\->
                                    </valItem>
                                    <valItem ident="lemma">
                                        <gloss>Lemma</gloss>
                                        <desc>The <gi>termComp</gi> elements contain the base form
                                            of the term or of the individual words that it
                                            comprises. A base form of a word or term, sometimes
                                            called a <term>lemma</term>, is the form that is used as
                                            the formal dictionary entry for the term. For nouns, the
                                            base form is frequently the nominative singular form (in
                                            languages that show variation by case). For adjectives
                                            it is the positive form of the adjective, as opposed to
                                            the comparative, and in some languages it is
                                            uninflected, whereas in others it is the masculine
                                            singular. For verbs, it is generally the
                                            infinitive.</desc>

                                    </valItem>
                                    <valItem ident="morphologicalElement">
                                        <gloss>Morphological element</gloss>
                                        <desc>The <gi>termComp</gi> elements contain the individual
                                            morphemes that comprise the term. .</desc>

                                    </valItem>
                                    <valItem ident="syllabification">
                                        <gloss>Syllabification</gloss>
                                        <desc>The <gi>termComp</gi> elements contain the individual
                                            syllables that comprise the term.</desc>

                                    </valItem>
                                    <valItem ident="termElement">
                                        <gloss>Term element</gloss>
                                        <desc>The <gi>termComp</gi> elements contain any other
                                            logically significant portion of the term. </desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>

                    </elementSpec>
                    <elementSpec ident="termSec">
                        <desc>A <emph>term information group</emph>. A grouping element that
                            contains child elements describing a term. It is often referred to as
                            the <emph>term section</emph>.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="term"/>

                            <elementRef key="termNote" minOccurs="0" maxOccurs="unbounded"/>

                            <elementRef key="entity.auxInfo"/>

                            <elementRef key="termCompSec" minOccurs="0" maxOccurs="unbounded"/>

                        </content>
                    </elementSpec>
-->
                </specGrp>

                <specGrp xml:id="spec-admin">
                    <macroSpec ident="admin">
                        <desc>Contains information of an administrative nature for the node (parent
                            element) in question, such as the source of information, or the project
                            or client for which it applies. The type of administrative information
                            is indicated by the value of the <att>type</att> attribute. It can
                            appear alone, or, if additional information needs to be provided, such
                            as a note or a reference, it can be nested in an <gi>adminGrp</gi>
                            element. <desc>This element can occur at any of the three levels of the
                                terminological entry. Several types, however, logically should occur
                                at restricted levels, as indicated with the corresponding
                                data-category descriptions. For instance, <val>databaseType</val>
                                and <val>conceptOrigin</val> would typically occur at the
                                conceptEntry level. Care should be taken to insert the
                                    <gi>admin</gi> at the appropriate level of the entry according
                                to its type attribute value and the parent node to which the
                                administrative information applies.</desc></desc>
                        <content>
                            <alternate>
                                <elementRef key="customerSubset"/>
                                <elementRef key="projectSubset"/>
                                <elementRef key="source"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="customerSubset" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>customerSubset</gloss>
                        <desc>An identifier that indicates that the parent element to which it
                            applies is associated with a specific customer. The content shall be in
                            plainText.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="customerSubset" scheme="schematron">
                            <constraint>
                                <sch:rule context="customerSubset">
                                    <sch:assert test=".=not(*)">The customer subset must be
                                        expressed in plainText.</sch:assert>
                                </sch:rule>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="projectSubset" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>projectSubset</gloss>
                        <desc>An identifier assigned to a term, record, or entry to indicate that it
                            is related to or used in a project. The content shall be in plainText,
                            and preferably one of a predefined set of picklist values.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="projectSubset" scheme="schematron">
                            <constraint>
                                <sch:pattern name="projectSubset">
                                    <sch:rule context="projectSubset">
                                        <sch:assert test=".=not(*)">The project subset must be
                                            expressed in plainText.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="source" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>source</gloss>
                        <desc>A complete citation of the source of the information in the parent
                            element.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-descrip">
                    <macroSpec ident="descrip">
                        <desc>An element that contains descriptive information about a concept, or
                            relations to other concepts. The type of information that the element
                            contains, and any restrictions on the permissible values of the element,
                            are determined by the value of the <att>type</att> attribute.</desc>
                        <content>
                            <alternate>
                                <elementRef key="context"/>
                                <elementRef key="definition"/>
                                <elementRef key="subjectField"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="context" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>context</gloss>
                        <desc>Contexts must be authentic, that is, they must be obtained from an
                            existing source, and not created by the terminologist. Contexts are
                            documented very frequently in terminology collections. Contexts can
                            provide information for determining term usage and collocations. In TBX,
                            the context is a term-related data-category. A context can be further
                            categorized according to context type.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="context" scheme="schematron">
                            <constraint>
                                <sch:rule context="context">
                                    <sch:assert
                                        test="parent::termSec or parent::descripGrp/parent::termSec"
                                        >A context sentence can only occur at the term (termSec)
                                        level.</sch:assert>
                                </sch:rule>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="definition" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>definition</gloss>
                        <desc>A representation of a concept by a descriptive statement which serves
                            to differentiate that concept from related concepts.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="definition" scheme="schematron">
                            <constraint>
                                <sch:pattern name="definition">
                                    <sch:rule context="definition">
                                        <sch:assert
                                            test="parent::conceptEntry or parent::langSec or parent::termSec or parent::descripGrp/parent::conceptEntry or parent::descripGrp/parent::langSec or parent::descripGrp/parent::termSec"
                                            > A definition must occur at the conceptEntry level, the
                                            langSec level, or the term (termSec) level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="subjectField" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>subjectField</gloss>
                        <desc>A field of special knowledge.
                            <!-- More than one
		   subject field can be indicated for a given concept, and subject
		   fields can be designated hierarchically as subfields by indicating a
		   level index.-->
                            Subject fields can be expressed in multiple levels, for example: Subject
                            field (level 1): disease, Subject field (level 2): cancer, Subject field
                            (level 3): non-Hodgkin's lymphoma. Subject fields shall be expressed in
                            plainText, and preferably be selected from a defined set of picklist
                            values. Subject fields shall be specified at the concept (conceptEntry)
                            level.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="subjectField" scheme="schematron">
                            <constraint>
                                <sch:pattern name="subjectField">
                                    <sch:rule context="subjectField">
                                        <sch:assert
                                            test="(.=not(*)) and (parent::conceptEntry or parent::descripGrp/parent::conceptEntry)"
                                            > A subject field must be a plainText value. Subject
                                            fields usually occur at the conceptEntry
                                            level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-ref">
                    <macroSpec ident="ref">
                        <desc>A cross-reference that points to another element within the
                                <gi>tbx</gi> element of the TBX document instance. The content of
                            the element is display text of the target element (i.e. the term), and
                            shall be in plainText.</desc>
                        <content>
                            <elementRef key="crossReference"/>
                        </content>
                    </macroSpec>
                    <elementSpec ident="crossReference" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>crossReference</gloss>
                        <desc>A pointer to another related location, such as another entry or
                            another term. The <gi>ref</gi> element with a <att>type</att> attribute
                            value of <val>cross-reference</val> shall also have a <att>target</att>
                            attribute to point to the identifier of the entry or term.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                </specGrp>
                <specGrp xml:id="spec-termNote">
                    <macroSpec ident="termNote">
                        <desc>A meta data-category used for describing terms. A <att>type</att>
                            attribute specifies what kind of information is included in a particular
                            instance of this element.</desc>
                        <content>
                            <alternate>
                                <elementRef key="administrativeStatus"/>
                                <elementRef key="geographicalUsage"/>
                                <elementRef key="grammaticalGender"/>
                                <elementRef key="partOfSpeech"/>
                                <elementRef key="termLocation"/>
                                <elementRef key="termType"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="administrativeStatus"
                        ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>administrativeStatus</gloss>
                        <desc>The status of a term within a certain working environment. The
                            data-category <val>administrativeStatus</val> should be linked, through
                            a <att>target</att> attribute, to a <gi>refObject</gi> in the back
                            matter that identifies the administrative organization that determined
                            the status. The element <gi>termNote</gi> when its <att>type</att>
                            attribute has the value <val>administrativeStatus</val> shall contain
                            one of the following values:<list>
                                <item>admittedTerm-admn-sts</item>
                                <item>deprecatedTerm-admn-sts</item>
                                <item>legalTerm-admn-sts</item>
                                <item>preferredTerm-admn-sts</item>
                                <item>regulatedTerm-admn-sts</item>
                                <item>standardizedTerm-admn-sts</item>
                                <item>supersededTerm-admn-sts</item>
                            </list>
                            <desc>The status of terms with respect to a standardization process is
                                covered by <val>normativeAuthorization</val>. </desc></desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="administrativeStatus" scheme="schematron">
                            <constraint>
                                <sch:pattern name="administrativeStatus">
                                    <sch:rule context="administrativeStatus">
                                        <sch:assert
                                            test=".=
                                            'standardizedTerm-admn-sts' or .='preferredTerm-admn-sts' or .='admittedTerm-admn-sts' or .='deprecatedTerm-admn-sts' or .='supersededTerm-admn-sts' or .='legalTerm-admn-sts' or .='regulatedTerm-admn-sts'"
                                            >The administrative status must be
                                            standardizedTerm-admn-sts, preferredTerm-admn-sts,
                                            admittedTerm-admn-sts, deprecatedTerm-admn-sts,
                                            supersededTerm-admn-sts, legalTerm-admn-sts, or
                                            regulatedTerm-admn-sts. </sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="geographicalUsage" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>geographicalUsage</gloss>

                        <!--kara: this currently allows noteText but couldn't we use an ISO code?? -->
                        <desc>A code identifying any specific geographical area where the term is
                            used, for instance, to differentiate between UK English and US English.
                            Preferred values are language codes combined with geographical codes,
                            from IETF RFC 4646 or its successor, as identified in IETF BCP 47. For
                            example: en-US for American English. The element content shall be
                            expressed in plainText. </desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="geographicalUsage" scheme="schematron">
                            <constraint>
                                <sch:pattern name="geographicalUsage">
                                    <sch:rule context="geographicalUsage">
                                        <sch:assert test=".=not(*)">The geographical usage must be
                                            expressed in plainText. </sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="grammaticalGender" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>grammaticalGender</gloss>
                        <desc>The gender of the word. The value of the <gi>termNote</gi> element
                            when it has a <att>type</att> attribute value of
                                <val>grammaticalGender</val> shall be one of: <val>masculine</val>,
                                <val>feminine</val>, <val>neuter</val>, or
                            <val>otherGender</val>.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="grammaticalGender" scheme="schematron">
                            <constraint>
                                <sch:pattern name="grammaticalGender">
                                    <sch:rule context="grammaticalGender">
                                        <sch:assert
                                            test="(.='masculine' or .='feminine' or .='neuter' or .='otherGender')"
                                            > The gender must be masculine, feminine, neuter, or
                                            otherGender. Gender should be specified at the term
                                            level (termSec) or at the termCompGrp
                                            level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="partOfSpeech" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>partOfSpeech</gloss>
                        <desc>A category assigned to a word based on its grammatical and semantic
                            properties. For example: <val>noun</val>, <val>verb</val>, or
                                <val>adjective</val>. The element content shall be expressed in
                            plainText, and preferably be limited to a set of picklist values. Only
                            one value shall be permitted for each <gi>term</gi> in a given entry.
                            For example, the following values are permitted in the
                                <emph>TBX-Basic</emph> TML:<list>
                                <item>noun</item>
                                <item>verb</item>
                                <item>adjective</item>
                                <item>adverb</item>
                                <item>properNoun</item>
                                <item>other</item>
                            </list></desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="partOfSpeech" scheme="schematron">
                            <constraint>
                                <sch:pattern name="partOfSpeech">
                                    <!-- the following rule is for TBX-Basic -->
                                    <sch:rule context="partOfSpeech">
                                        <sch:assert
                                            test=". = 'noun' or .='verb' or .='adjective' or .='adverb' or .='properNoun' or .='other'"
                                            >The part of speech must be either noun, verb,
                                            adjective, adverb, properNoun, or other. </sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="termLocation" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>termLocation</gloss>

                        <desc>A location in a document, computer file, or other information medium,
                            where the term frequently occurs, such as a user interface object (in
                            software), a packaging element, a component in an industrial process,
                            and so forth. The element content shall be expressed in plainText, and
                            preferably be restricted to a set of picklist values. The following
                            picklist values are recommended for software user interface locations in
                            a Windows environment. <list>
                                <item>checkBox</item>
                                <item>comboBox</item>
                                <item>comboBoxElement</item>
                                <item>dialogBox</item>
                                <item>groupBox</item>
                                <item>informativeMessage</item>
                                <item>interactiveMessage</item>
                                <item>menuItem</item>
                                <item>progressBar</item>
                                <item>pushButton</item>
                                <item>radioButton</item>
                                <item>slider</item>
                                <item>spinBox</item>
                                <item>tab</item>
                                <item>tableText</item>
                                <item>textBox</item>
                                <item>toolTip</item>
                                <item>user-definedType</item>
                            </list>
                        </desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="termLocation" scheme="schematron">
                            <constraint>
                                <sch:pattern name="termLocation">
                                    <sch:rule context="termLocation">
                                        <sch:assert test=".=not(*)">The termLocation must be a
                                            plainText value. It should be specified only at the term
                                            (termSec) level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="termType" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>termType</gloss>
                        <desc>A categorization of a term with respect to formal representations of
                            terms or where or how they are used, for example, <val>acronym</val>.
                            The content of the <gi>termNote</gi> element when it has a
                                <att>type</att> attribute value of <val>termType</val> shall be one
                            of the following:<list>
                                <item>abbreviation</item>
                                <item>acronym</item>
                                <item>clippedTerm</item>
                                <item>commonName</item>
                                <item>entryTerm</item>
                                <item>equation</item>
                                <item>formula</item>
                                <item>fullForm</item>
                                <item>initialism</item>
                                <item>internationalism</item>
                                <item>internationalScientificTerm</item>
                                <item>logicalExpression</item>
                                <item>partNumber</item>
                                <item>phraseologicalUnit</item>
                                <item>transcribedForm</item>
                                <item>transliteratedForm</item>
                                <item>shortForm</item>
                                <item>shortcut</item>
                                <item>sku</item>
                                <item>standardText</item>
                                <item>string</item>
                                <item>symbol</item>
                                <item>synonym</item>
                                <item>synonymousPhrase</item>
                                <item>variant</item>
                            </list>Refer to ISO 12620 for definitions of the above term types. The
                            value <val>shortcut</val> refers to a string that acts as a keyboard
                            shortcut on computers, for example, <emph>Ctrl + V</emph> is a term that
                            represents a keyboard shortcut for the concept of
                            <emph>paste</emph>.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="termType" scheme="schematron">
                            <constraint>
                                <sch:pattern name="termType">
                                    <sch:rule context="termType">
                                        <sch:assert
                                            test=". = 'abbreviation' or .='initialism' or .='acronym' or .='clippedTerm' or .='entryTerm' or .='synonym' or .='internationalScientificTerm' or .='fullForm' or .='transcribedForm' or .='symbol' or .='formula' or .='equation' or .='logicalExpression' or .='commonName' or .='variant' or .='shortForm' or .='transliteratedForm' or .='sku' or .='partNumber' or .='phraseologicalUnit' or .='synonymousPhrase' or .='standardText' or .='string' or .='internationalism' or .='shortcut'"
                                            >The type of term can only be one of the following
                                            values: abbreviation, initialism, acronym, clippedTerm,
                                            entryTerm, synonym, internationalScientificTerm,
                                            fullForm, transcribedForm, symbol, formula, equation,
                                            logicalExpression, commonName, variant, shortForm,
                                            transliteratedForm, sku, partNumber, phraseologicalUnit,
                                            synonymousPhrase, standardText, string,
                                            internationalism, shortcut.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-transac">
                    <macroSpec ident="transac">
                        <desc>A record that indicates the stage of the entry within the overal
                            process of creation, approval, and use of a terminology entry. Currently
                            this element is only used to specify the type of transaction, and
                            therefore only one value is currently specified for the <att>type</att>
                            attribute. However, additional <att>type</att> attribute values can be
                            defined for additional purposes in a user-specific XCS file.</desc>
                        <content>
                            <elementRef key="transactionType"/>
                        </content>
                    </macroSpec>
                    <elementSpec ident="transactionType" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>transactionType</gloss>
                        <desc>A record that indicates the stage of the entry within the overall
                            process of creation, approval, and use of a terminology entry.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <constraintSpec ident="transactionType" scheme="schematron">
                            <constraint>
                                <sch:pattern name="transactionType">
                                    <sch:rule context="transactionType">
                                        <sch:assert
                                            test=". =
                                            'origination' or .='input' or .='modification' or .='check' or .='approval' or 
                                            .='withdrawl' or .='standardization' or .='exportation' or .='importation' or .='proposal' or .='userAccess'"
                                            >The content of this element indicates the type of
                                            transaction and must be one of the following values:
                                            origination, input, modification, check, approval,
                                            withdrawal, standardization, exportation, importation,
                                            proposal, userAccess. </sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-transacNote">
                    <macroSpec ident="transacNote">
                        <desc>Information about a transaction, such as the name of the person who
                            performed the transaction. The content of this element shall be
                            plainText.</desc>
                        <content>
                            <elementRef key="responsibility"/>
                        </content>
                    </macroSpec>
                    <elementSpec ident="responsibility" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>responsibility</gloss>
                        <desc>The name of a person or entity associated with a terminology
                            management transaction. The <gi>transacNote</gi> element with a
                                <att>type</att> attribute value of <val>responsibility</val> can
                            also have a <att>target</att> attribute to point to the identifier of a
                            bibliographic entry in a <gi>refObject</gi> that contains information
                            about the person or entity.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <!--<constraintSpec ident="responsibility" scheme="schematron">
                            <constraint>
                                <sch:pattern name="responsibility">
                                    <sch:rule context="responsibility">
                                        <sch:assert test="parent::termSec|parent::termCompGrp">Information about the
                                            person responsible for a terminology transaction can occur at the term
                                            (tig) level or at the termCompGrp level. </sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>-->
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-xref">
                    <macroSpec ident="xref">
                        <desc>A linking element that points to an external object using a URI (a URL
                            or other Web address). The target attribute is required. The content of
                            the element is display text representing the target object, such as a
                            title, file name, or short description.</desc>
                        <content>
                            <alternate>
                                <elementRef key="externalCrossReferences"/>
                                <elementRef key="xGraphic"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="externalCrossReference"
                        ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>externalCrossReference</gloss>
                        <desc>A term or other terminological resource that is external to the
                            terminological database or TBX document instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="target" usage="req">
                                <desc>The URI of the external object.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                                <remarks>
                                    <p>Unlike the target attributes on most TBX elements, which
                                        point to other elements in the TBX XML document instance
                                        (hence, they have an IDREF datatype), the target attribute
                                        of an <gi>xref</gi> element points outside the TBX document,
                                        presumably to objects identified by URIs. Therefore, the
                                        datatype of the <att>target</att> attribute for an
                                            <gi>xref</gi> element is specified as CDATA.</p>
                                </remarks>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="xGraphic" ns="http://www.tbxinfo.net/ns/dct/basic">
                        <gloss>xGraphic</gloss>
                        <desc>External graphic file.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="target" usage="req">
                                <desc>The URI of the external object.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                                <remarks>
                                    <p>Unlike the target attributes on most TBX elements, which
                                        point to other elements in the TBX XML document instance
                                        (hence, they have an IDREF datatype), the target attribute
                                        of an <gi>xref</gi> element points outside the TBX document,
                                        presumably to objects identified by URIs. Therefore, the
                                        datatype of the <att>target</att> attribute for an
                                            <gi>xref</gi> element is specified as CDATA.</p>
                                </remarks>
                            </attDef>
                        </attList>

                    </elementSpec>
                </specGrp>


                <!--<specGrp xml:id="spec-other-elements">
                    <!-\- in hierarchical order -\->
                    <elementSpec ident="tbx">
                        <desc>The root element of a TBX document instance.</desc>

                        <content>
                            <elementRef key="tbxHeader"/>
                            <elementRef key="text"/>
                        </content>
                        <attList>
                            <attDef ident="type" usage="req">
                                <desc>Indicates the type of tbx document. If the <att>type</att>
                                    attribute value <val>TBX</val> is used, then the TBX document
                                    instance shall adhere to the default XCS file. If the TBX
                                    document instance adheres to another XCS file, then the
                                        <att>type</att> attribute value can consist of
                                        <val>TBX-</val> plus another word associated with the XCS
                                    file, such as 'TBX-Basic'.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                            </attDef>
                            <attDef ident="style" usage="req">
                                <desc>Indicates the style of tbx document, whether it is Data
                                    Category as Tag (DCT) or Data Category as Attribute (DCA). The
                                    allowed values are either 'dca' or 'dct'.</desc>
                                <valList type="closed">
                                    <valItem ident="dca">
                                        <desc>Data Category as Attribute</desc>
                                    </valItem>
                                    <valItem ident="dct">
                                        <desc>Data Category as Tag</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                            <attDef ident="xml:lang" usage="req">
                                <desc>Indicates the default language of the entire <gi>tbx</gi>
                                    element content. The allowed values of the <att>xml:lang</att>
                                    attribute are found in IETF RFC 4646 or its successor, as
                                    indicated in IETF BCP 47. This attribute is required for the
                                        <gi>tbx</gi> element.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                                <remarks>
                                    <p>The value of the xml:lang attribute inherits downward through
                                        the XML document unless overridden by another
                                            <att>xml:lang</att> attribute. </p>
                                    <p> The language specified in the <gi>tbx</gi> element becomes
                                        the working language of the entire TBX file. Each
                                            <gi>langSec</gi> element shall also specify a language
                                        that applies to that language section. This becomes the
                                        object language of the language section. Thus, a definition
                                        at the terminological entry level is assumed to be in the
                                        working language of the TBX file unless otherwise specified,
                                        and a note in a language section is assumed to be in the
                                        same language as the terms in that language section unless
                                        otherwise specified. </p>

                                </remarks>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="tbxHeader">
                        <desc>A grouping element that contains child elements which describe the TBX
                            document instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="fileDesc"/>
                            <elementRef key="encodingDesc" minOccurs="0" maxOccurs="1"/>
                            <elementRef key="revisionDesc" minOccurs="0" maxOccurs="1"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="p">
                        <desc>Paragraph text that is contained by the <gi>tbxHeader</gi>. By using a
                                <att>type</att> attribute, it can also contain essential information
                            about the content or location of the XCS file.</desc>
                        <classes>
                            <memberOf key="idlang"/>

                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <attList>
                            <attDef ident="type" usage="opt">
                                <!-\- the following values are only when p is used in encodingDesc -\->
                                <valList type="closed">
                                    <valItem ident="DCSName">
                                        <desc>The name of the XCS file that constrains the content
                                            of the TBX document instance.</desc>
                                    </valItem>
                                    <valItem ident="XCSURI">
                                        <desc>The URI of the XCS file that constrains the content of
                                            the TBX document instance.</desc>
                                    </valItem>
                                    <valItem ident="XCSContent">
                                        <desc>The content of an XCS file, embedded directly in the
                                            TBX document instance. Note that this content cannot be
                                            validated by the TBX DTD and therefore should be removed
                                            from the TBX document instance, or commented out, prior
                                            to such validation. </desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="fileDesc">
                        <desc>A nesting element containing child elements that describe the TBX
                            document instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>

                            <elementRef key="titleStmt" minOccurs="0" maxOccurs="1"/>


                            <elementRef key="publicationStmt" minOccurs="0" maxOccurs="1"/>


                            <elementRef key="sourceDesc" minOccurs="1" maxOccurs="unbounded"/>

                        </content>
                    </elementSpec>
                    <elementSpec ident="titleStmt">
                        <desc>A nesting element containing the title and any notes about the TBX
                            document instance.</desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <elementRef key="title"/>
                            <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="title">
                        <desc>The title of the TBX document instance.</desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="publicationStmt">
                        <desc>Any information pertaining to the publication of the TBX document
                            instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="sourceDesc">
                        <desc>Any information about the source of the TBX document instance.</desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="encodingDesc">
                        <desc>Includes a <gi>p</gi> element that itself contains a pointer to the
                            XCS file and, if the TBX file is not in unicode, any information about
                            the encoding.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <!-\-
				<rng:optional>
					<elementRef key="ude"/>
				</rng:optional> -\->

                            <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>

                        </content>
                    </elementSpec>
                    <elementSpec ident="revisionDesc">
                        <desc>Information about any revisions that have been carried out on the
                            content of the TBX document instance or on the source database from
                            which it is derived.</desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <elementRef key="change" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="change">
                        <desc>Information about one particular change event in the revision history
                            of a TBX document instance.</desc>
                        <classes>
                            <memberOf key="idlang"/>
                        </classes>
                        <content>
                            <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="text">
                        <desc>The element of a TBX document instance that occurs after the tbx
                            element. This element is provided to maintain compatibility with the
                            TEI.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <!-\- removed optional front element -\->
                            <elementRef key="body"/>
                            <elementRef key="back" minOccurs="0" maxOccurs="1"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="body">
                        <!-\- here put Other Resources, each in a namespace -\->
                        <desc>A nesting element that contains terminological entries
                                (<gi>conceptEntry</gi>).</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>

                            <elementRef key="conceptEntry" minOccurs="1" maxOccurs="unbounded"/>

                        </content>
                    </elementSpec>
                    <elementSpec ident="back">
                        <desc>The root element of the back matter of a TBX document instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="refObjectSec" minOccurs="0" maxOccurs="unbounded"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="refObjectSec">
                        <desc>A list of objects that are referenced in the back matter of a TBX
                            document instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>

                            <elementRef key="refObject" minOccurs="1" maxOccurs="unbounded"/>

                        </content>

                        <attList>
                            <attDef ident="type" usage="req">
                                <datatype>
                                    <textNode/>
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="refObject">
                        <desc>An element in the back matter of a TBX document instance that contains
                            a series of items that describe one referenced object.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <alternate minOccurs="1" maxOccurs="unbounded">
                                <elementRef key="itemSet"/>
                                <elementRef key="itemGrp"/>
                                <elementRef key="item"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <elementSpec ident="item">
                        <desc>One descriptor of an object in the back matter of a TBX document
                            instance.</desc>
                        <classes>
                            <memberOf key="idtype"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="itemGrp">
                        <desc>Contains one <gi>item</gi> element as well as additional child
                            elements for associated administrative information.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="item"/>
                            <elementRef key="entity.noteLinkInfo"/>
                        </content>
                    </elementSpec>
                    <elementSpec ident="itemSec">
                        <desc>A list of <gi>item</gi> or <gi>itemGrp</gi>.</desc>
                        <classes>
                            <memberOf key="idtype"/>
                        </classes>
                        <content>
                            <alternate minOccurs="1" maxOccurs="unbounded">
                                <elementRef key="item"/>
                                <elementRef key="itemGrp"/>
                            </alternate>
                        </content>
                    </elementSpec>
                </specGrp>
                -->
                <specGrp xml:id="spec-macros-entities">
                    <macroSpec ident="entity.basicText">
                        <desc>Basic text is used for terms and term-like elements as well as a few
                            other elements. It allows plainText plus <gi>hi</gi> for some limited
                            embedded markup.</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="hi"/>
                            </alternate>
                        </content>
                    </macroSpec>

                    <macroSpec ident="entity.noteText">
                        <desc>Note text, which is used in definitions and contextual examples and
                            similar elements, allows more inline markup than basicText.</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="hi"/>
                                <elementRef key="foreign"/>
                                <elementRef key="bpt"/>
                                <elementRef key="ept"/>
                                <elementRef key="ph"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <!--<macroSpec ident="entity.auxInfo">
                        <desc>The auxInfo entity corresponds to information that can be associated
                            with any one of three levels: the terminological entry level
                                (<gi>conceptEntry</gi> (i.e., the concept level), the language level
                                (<gi>langSec</gi>), and the term level (<gi>termSec</gi>).</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="descrip"/>
                                <elementRef key="descripGrp"/>
                                <macroRef key="admin"/>
                                <elementRef key="adminGrp"/>
                                <elementRef key="transacGrp"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    -->
                    <macroSpec ident="entity.noteLinkInfo">
                        <desc>This entity groups elements for administrative information, notes, and
                            links. It is used by the following grouping elements:
                                <gi>termCompGrp</gi>, <gi>termNoteGrp</gi> and
                            <gi>itemGrp</gi>.</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="admin"/>
                                <elementRef key="adminGrp"/>
                                <elementRef key="transacGrp"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </macroSpec>
                </specGrp>

                <specGrp xml:id="spec-classes-atts">
                    <classSpec ident="idlang" type="atts">
                        <desc>The idlang attribute class combines the <att>id</att> attribute and
                            the <att>xml:lang</att> attribute. Both are optional for elements that
                            use this attribute class. </desc>
                        <classes>
                            <memberOf key="id"/>
                            <memberOf key="lang"/>
                        </classes>
                    </classSpec>

                    <classSpec ident="idtype" type="atts">
                        <desc>The idtype attribute class combines the <att>id</att> attribute and
                            the <att>type</att> attribute. Both are optional for elements that use
                            this attribute class. </desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <attList>

                            <attDef ident="type">
                                <desc>Indicates the type of the meta data-category.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>

                            </attDef>
                        </attList>

                    </classSpec>


                    <classSpec ident="id" type="atts">
                        <desc>The id attribute class corresponds to /elementIdentifier/ in ISO
                            12620. It indicates a unique identifier of an element. Element
                            identifiers can include entry identifiers (eid-...), concept identifiers
                            (cid-...), term identifiers (tid-...), among others. This attribute is
                            optional.</desc>
                        <attList>
                            <attDef ident="id">
                                <datatype>
                                    <dataRef name="ID"/>
                                </datatype>
                            </attDef>
                        </attList>

                    </classSpec>
                    <classSpec ident="target-IDREF" type="atts">
                        <desc>The target-IDREF attribute class corresponds to the <att>target</att>
                            attribute, which is a pointer to another element. The link is
                            established when the value of the <att>target</att> attribute of the
                            source element is the same as the value of the <att>xml:id</att>
                            attribute of the <emph>target</emph> element. When this attribute is
                            used with <gi>termNote</gi>, the target is often another term, such as
                            in the tag <tag>termNote type='abbreviatedFormFor'
                                target='tid-1234'</tag>. It is also available for the data-category
                                <val>transferComment</val> to indicate the term being commented
                            about. The pointer is a unique identifier. The content of elements that
                            take this attribute is typically the display value of the target
                            element, such as the target term. The elements that take this attribute
                            cannot be empty; display content is mandatory. In respect of the
                            principle of term autonomy, any term that is contained by this element
                            should have its own entry in the data collection.</desc>
                        <attList>
                            <attDef ident="target">
                                <datatype>
                                    <dataRef name="IDREF"/>
                                </datatype>
                            </attDef>
                        </attList>
                    </classSpec>

                    <classSpec ident="lang" type="atts">
                        <desc>The lang attribute class corresponds to the attribute
                                <att>xml:lang</att>.</desc>
                        <attList>
                            <attDef ident="xml:lang">
                                <desc>Indicates the language of the element content. The allowed
                                    values are found in IETF RFC 4646 or its successor. This
                                    attribute is optional for elements that use this attribute
                                    class. For a description, see the information at the
                                        <gi>tbx</gi> element.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                            </attDef>
                        </attList>
                    </classSpec>


                    <classSpec ident="IDLangTgtDtyp" type="atts">
                        <desc>This attribute class groups together the attributes <att>id</att>,
                                <att>xml:lang</att>, <att>target</att> and
                            <att>datatype</att></desc>
                        <classes>
                            <memberOf key="lang"/>
                            <memberOf key="id"/>
                            <memberOf key="target-IDREF"/>
                        </classes>
                        <attList>
                            <attDef ident="datatype">
                                <desc>The data type of plainText, or what is known as PCDATA.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                            </attDef>
                        </attList>

                    </classSpec>
                    <!-- end of part added by Sebastian -->
                </specGrp>
            </div1>
        </body>
    </text>
</TEI>
