TBX_ISO30042-Basic - DCT.odd

<?xml version="1.0" encoding="UTF-8"?>
<!-- <?oxygen RNGSchema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tbxodd.rnc" type="compact"?>-->
<?oxygen RNGSchema="tei_odds.rnc" type="compact"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://www.ascc.net/xml/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Systems to manage terminology, knowledge, and content - TermBase eXchange
                    (TBX)</title>

            </titleStmt>
            <publicationStmt>
                <publisher>LTAC Global</publisher>
                <date>October 29, 2008</date>
            </publicationStmt>
            <sourceDesc>
                <p>This is the Core Structure for TBX</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <!-- annex D: Descriptions of the core structure and constraints (in RNG format) (this section includes all the data specifications in ODD declarations-->
            <div1>
                <head>Declarations</head>
                <schemaSpec ident="TBX-Basic"
                    start="adminGrp descripGrp transacGrp termNoteGrp admin descrip termNote tranac ref transacNote xref"
                    ns="http://www.tbxinfo.net/ns/dct/basic">
                    <specGrpRef target="#spec-term-entries"/>

                    <specGrpRef target="#spec-macros-entities"/>
                    <specGrpRef target="#spec-classes-atts"/>
                    <!--<specGrpRef target="#spec-other-elements"/>-->
                </schemaSpec>

                <specGrp xml:id="spec-term-entries">
                    <specGrpRef target="#spec-admin"/>
                    <elementSpec ident="adminGrp">
                        <desc>An element that contains a group of elements that contain
                            administrative information.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <macroRef key="admin"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-descrip"/>
                    <elementSpec ident="descripGrp">
                        <desc>Contains one <gi>descrip</gi> element as well as additional child
                            elements for associated administrative information.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <elementRef key="descrip"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="admin"/>
                                <elementRef key="adminGrp"/>
                                <elementRef key="transacGrp"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-ref"/>
                    <specGrpRef target="#spec-termNote"/>
                    <elementSpec ident="termNoteGrp">
                        <desc>A grouping element that contains one <gi>termNote</gi> element, and
                                <ref target="#entity.noteLinkInfo">auxiliary information</ref> such
                            as administrative information, transaction information, notes and cross
                            references. It does not allow any <gi>descrip</gi> elements. It can only
                            appear at the term (termSec) level and below.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <macroRef key="termNote"/>
                            <elementRef key="entity.noteLinkInfo"/>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-transac"/>
                    <elementSpec ident="transacGrp">
                        <desc>An element that includes child elements that provide information about
                            a transaction. </desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <macroRef key="transac"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="transacNote"/>
                                <elementRef key="date"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </elementSpec>
                    <specGrpRef target="#spec-transacNote"/>
                    <specGrpRef target="#spec-xref"/>
                </specGrp>

                <specGrp xml:id="spec-admin">
                    <macroSpec ident="admin">
                        <desc>Contains information of an administrative nature for the node (parent
                            element) in question, such as the source of information, or the project
                            or client for which it applies. The type of administrative information
                            is indicated by the value of the <att>type</att> attribute. It can
                            appear alone, or, if additional information needs to be provided, such
                            as a note or a reference, it can be nested in an <gi>adminGrp</gi>
                            element. <desc>This element can occur at any of the three levels of the
                                terminological entry. Several types, however, logically should occur
                                at restricted levels, as indicated with the corresponding
                                data-category descriptions. For instance, <val>databaseType</val>
                                and <val>conceptOrigin</val> would typically occur at the
                                conceptEntry level. Care should be taken to insert the
                                    <gi>admin</gi> at the appropriate level of the entry according
                                to its type attribute value and the parent node to which the
                                administrative information applies.</desc></desc>
                        <content>
                            <alternate>
                                <elementRef key="customerSubset"/>
                                <elementRef key="projectSubset"/>
                                <elementRef key="source"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="customerSubset">
                        <gloss>customerSubset</gloss>
                        <desc>An identifier that indicates that the parent element to which it
                            applies is associated with a specific customer. The content shall be in
                            plainText.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="customerSubset" scheme="schematron">
                            <constraint>
                                <sch:rule context="customerSubset">
                                    <sch:assert test=".=not(*)">The customer subset must be
                                        expressed in plainText.</sch:assert>
                                </sch:rule>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="projectSubset">
                        <gloss>projectSubset</gloss>
                        <desc>An identifier assigned to a term, record, or entry to indicate that it
                            is related to or used in a project. The content shall be in plainText,
                            and preferably one of a predefined set of picklist values.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="projectSubset" scheme="schematron">
                            <constraint>
                                <sch:pattern name="projectSubset">
                                    <sch:rule context="projectSubset">
                                        <sch:assert test=".=not(*)">The project subset must be
                                            expressed in plainText.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="source">
                        <gloss>source</gloss>
                        <desc>A complete citation of the source of the information in the parent
                            element.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-descrip">
                    <macroSpec ident="descrip">
                        <desc>An element that contains descriptive information about a concept, or
                            relations to other concepts. The type of information that the element
                            contains, and any restrictions on the permissible values of the element,
                            are determined by the value of the <att>type</att> attribute.</desc>
                        <content>
                            <alternate>
                                <elementRef key="context"/>
                                <elementRef key="definition"/>
                                <elementRef key="subjectField"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="context">
                        <gloss>context</gloss>
                        <desc>Contexts must be authentic, that is, they must be obtained from an
                            existing source, and not created by the terminologist. Contexts are
                            documented very frequently in terminology collections. Contexts can
                            provide information for determining term usage and collocations. In TBX,
                            the context is a term-related data-category. A context can be further
                            categorized according to context type.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="context" scheme="schematron">
                            <constraint>
                                <sch:rule context="context">
                                    <sch:assert
                                        test="parent::termSec or parent::descripGrp/parent::termSec"
                                        >A context sentence can only occur at the term (termSec)
                                        level.</sch:assert>
                                </sch:rule>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="definition">
                        <gloss>definition</gloss>
                        <desc>A representation of a concept by a descriptive statement which serves
                            to differentiate that concept from related concepts.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="definition" scheme="schematron">
                            <constraint>
                                <sch:pattern name="definition">
                                    <sch:rule context="definition">
                                        <sch:assert
                                            test="parent::conceptEntry or parent::langSec or parent::termSec or parent::descripGrp/parent::conceptEntry or parent::descripGrp/parent::langSec or parent::descripGrp/parent::termSec"
                                            > A definition must occur at the conceptEntry level, the
                                            langSec level, or the term (termSec) level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="subjectField">
                        <gloss>subjectField</gloss>
                        <desc>A field of special knowledge.
                            <!-- More than one
		   subject field can be indicated for a given concept, and subject
		   fields can be designated hierarchically as subfields by indicating a
		   level index.-->
                            Subject fields can be expressed in multiple levels, for example: Subject
                            field (level 1): disease, Subject field (level 2): cancer, Subject field
                            (level 3): non-Hodgkin's lymphoma. Subject fields shall be expressed in
                            plainText, and preferably be selected from a defined set of picklist
                            values. Subject fields shall be specified at the concept (conceptEntry)
                            level.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="subjectField" scheme="schematron">
                            <constraint>
                                <sch:pattern name="subjectField">
                                    <sch:rule context="subjectField">
                                        <sch:assert
                                            test="(.=not(*)) and (parent::conceptEntry or parent::descripGrp/parent::conceptEntry)"
                                            > A subject field must be a plainText value. Subject
                                            fields usually occur at the conceptEntry
                                            level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-ref">
                    <macroSpec ident="ref">
                        <desc>A cross-reference that points to another element within the
                                <gi>tbx</gi> element of the TBX document instance. The content of
                            the element is display text of the target element (i.e. the term), and
                            shall be in plainText.</desc>
                        <content>
                            <elementRef key="crossReference"/>
                        </content>
                    </macroSpec>
                    <elementSpec ident="crossReference">
                        <gloss>crossReference</gloss>
                        <desc>A pointer to another related location, such as another entry or
                            another term. The <gi>ref</gi> element with a <att>type</att> attribute
                            value of <val>cross-reference</val> shall also have a <att>target</att>
                            attribute to point to the identifier of the entry or term.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>

                </specGrp>
                <specGrp xml:id="spec-termNote">
                    <macroSpec ident="termNote">
                        <desc>A meta data-category used for describing terms. A <att>type</att>
                            attribute specifies what kind of information is included in a particular
                            instance of this element.</desc>
                        <content>
                            <alternate>
                                <elementRef key="administrativeStatus"/>
                                <elementRef key="geographicalUsage"/>
                                <elementRef key="grammaticalGender"/>
                                <elementRef key="partOfSpeech"/>
                                <elementRef key="termLocation"/>
                                <elementRef key="termType"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="administrativeStatus">
                        <gloss>administrativeStatus</gloss>
                        <desc>The status of a term within a certain working environment. The
                            data-category <val>administrativeStatus</val> should be linked, through
                            a <att>target</att> attribute, to a <gi>refObject</gi> in the back
                            matter that identifies the administrative organization that determined
                            the status. The element <gi>termNote</gi> when its <att>type</att>
                            attribute has the value <val>administrativeStatus</val> shall contain
                            one of the following values:<list>
                                <item>admittedTerm-admn-sts</item>
                                <item>deprecatedTerm-admn-sts</item>
                                <item>legalTerm-admn-sts</item>
                                <item>preferredTerm-admn-sts</item>
                                <item>regulatedTerm-admn-sts</item>
                                <item>standardizedTerm-admn-sts</item>
                                <item>supersededTerm-admn-sts</item>
                            </list>
                            <desc>The status of terms with respect to a standardization process is
                                covered by <val>normativeAuthorization</val>. </desc></desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <attList>
                            <attDef ident="type">
                                <valList type="closed">
                                <valItem ident="admittedTerm-admn-sts">
                                    <gloss>admittedTerm-admn-sts</gloss>
                                </valItem>
                                <valItem ident="deprecatedTerm-admn-sts">
                                    <gloss>deprecatedTerm-admn-sts</gloss>
                                </valItem>
                                <valItem ident="legalTerm-admn-sts">
                                    <gloss>legalTerm-admn-sts</gloss>
                                </valItem>
                                <valItem ident="preferredTerm-admn-sts">
                                    <gloss>preferredTerm-admn-sts</gloss>
                                </valItem>
                                <valItem ident="regulatedTerm-admn-sts">
                                    <gloss>regulatedTerm-admn-sts</gloss>
                                </valItem>
                                <valItem ident="standardizedTerm-admn-sts">
                                    <gloss>standardizedTerm-admn-sts</gloss>
                                </valItem>
                                <valItem ident="supersededTerm-admn-sts">
                                    <gloss>supersededTerm-admn-sts</gloss>
                                </valItem>
                            </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="geographicalUsage">
                        <gloss>geographicalUsage</gloss>

                        <!--kara: this currently allows noteText but couldn't we use an ISO code?? -->
                        <desc>A code identifying any specific geographical area where the term is
                            used, for instance, to differentiate between UK English and US English.
                            Preferred values are language codes combined with geographical codes,
                            from IETF RFC 4646 or its successor, as identified in IETF BCP 47. For
                            example: en-US for American English. The element content shall be
                            expressed in plainText. </desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="geographicalUsage" scheme="schematron">
                            <constraint>
                                <sch:pattern name="geographicalUsage">
                                    <sch:rule context="geographicalUsage">
                                        <sch:assert test=".=not(*)">The geographical usage must be
                                            expressed in plainText. </sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="grammaticalGender">
                        <gloss>grammaticalGender</gloss>
                        <desc>The gender of the word. The value of the <gi>termNote</gi> element
                            when it has a <att>type</att> attribute value of
                                <val>grammaticalGender</val> shall be one of: <val>masculine</val>,
                                <val>feminine</val>, <val>neuter</val>, or
                            <val>otherGender</val>.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                        </content>
                        <constraintSpec ident="grammaticalGender" scheme="schematron">
                            <constraint>
                                <sch:pattern name="grammaticalGender">
                                    <sch:rule context="grammaticalGender">
                                        <sch:assert
                                            test="(.='masculine' or .='feminine' or .='neuter' or .='otherGender')"
                                            > The gender must be masculine, feminine, neuter, or
                                            otherGender. Gender should be specified at the term
                                            level (termSec) or at the termCompGrp
                                            level.</sch:assert>
                                    </sch:rule>
                                </sch:pattern>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                    <elementSpec ident="partOfSpeech">
                        <gloss>partOfSpeech</gloss>
                        <desc>A category assigned to a word based on its grammatical and semantic
                            properties. For example: <val>noun</val>, <val>verb</val>, or
                                <val>adjective</val>. The element content shall be expressed in
                            plainText, and preferably be limited to a set of picklist values. Only
                            one value shall be permitted for each <gi>term</gi> in a given entry.
                            For example, the following values are permitted in the
                                <emph>TBX-Basic</emph> TML:<list>
                                <item>noun</item>
                                <item>verb</item>
                                <item>adjective</item>
                                <item>adverb</item>
                                <item>properNoun</item>
                                <item>other</item>
                            </list></desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                            <valList type="closed">
                                <valItem ident="noun">
                                    <gloss>noun</gloss>
                                </valItem>
                                <valItem ident="verb">
                                    <gloss>verb</gloss>
                                </valItem>
                                <valItem ident="adjective">
                                    <gloss>adjective</gloss>
                                </valItem>
                                <valItem ident="adverb">
                                    <gloss>adverb</gloss>
                                </valItem>
                                <valItem ident="properNoun">
                                    <gloss>properNoun</gloss>
                                </valItem>
                                <valItem ident="other">
                                    <gloss>other</gloss>
                                </valItem>
                            </valList>
                        </content>
                    </elementSpec>
                    <elementSpec ident="termLocation">
                        <gloss>termLocation</gloss>

                        <desc>A location in a document, computer file, or other information medium,
                            where the term frequently occurs, such as a user interface object (in
                            software), a packaging element, a component in an industrial process,
                            and so forth. The element content shall be expressed in plainText, and
                            preferably be restricted to a set of picklist values. The following
                            picklist values are recommended for software user interface locations in
                            a Windows environment. <list>
                                <item>checkBox</item>
                                <item>comboBox</item>
                                <item>comboBoxElement</item>
                                <item>dialogBox</item>
                                <item>groupBox</item>
                                <item>informativeMessage</item>
                                <item>interactiveMessage</item>
                                <item>menuItem</item>
                                <item>progressBar</item>
                                <item>pushButton</item>
                                <item>radioButton</item>
                                <item>slider</item>
                                <item>spinBox</item>
                                <item>tab</item>
                                <item>tableText</item>
                                <item>textBox</item>
                                <item>toolTip</item>
                                <item>user-definedType</item>
                            </list>
                        </desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                            <valList type="open">
                                <valItem ident="checkBox">
                                    <gloss>checkBox</gloss>
                                </valItem>
                                <valItem ident="comboBox">
                                    <gloss>comboBox</gloss>
                                </valItem>
                                <valItem ident="comboBoxElement">
                                    <gloss>comboBoxElement</gloss>
                                </valItem>
                                <valItem ident="dialogBox">
                                    <gloss>dialogBox</gloss>
                                </valItem>
                                <valItem ident="groupBox">
                                    <gloss>groupBox</gloss>
                                </valItem>
                                <valItem ident="informativeMessage">
                                    <gloss>informativeMessage</gloss>
                                </valItem>
                                <valItem ident="interactiveMessage">
                                    <gloss>interactiveMessage</gloss>
                                </valItem>
                                <valItem ident="menuvalItem">
                                    <gloss>menuvalItem</gloss>
                                </valItem>
                                <valItem ident="progressBar">
                                    <gloss>progressBar</gloss>
                                </valItem>
                                <valItem ident="pushButton">
                                    <gloss>pushButton</gloss>
                                </valItem>
                                <valItem ident="radioButton">
                                    <gloss>radioButton</gloss>
                                </valItem>
                                <valItem ident="slider">
                                    <gloss>slider</gloss>
                                </valItem>
                                <valItem ident="spinBox">
                                    <gloss>spinBox</gloss>
                                </valItem>
                                <valItem ident="tab">
                                    <gloss>tab</gloss>
                                </valItem>
                                <valItem ident="tableText">
                                    <gloss>tableText</gloss>
                                </valItem>
                                <valItem ident="textBox">
                                    <gloss>textBox</gloss>
                                </valItem>
                                <valItem ident="toolTip">
                                    <gloss>toolTip</gloss>
                                </valItem>
                                <valItem ident="user-definedType">
                                    <gloss>user-definedType</gloss>
                                </valItem>
                            </valList>
                        </content>
                    </elementSpec>
                    <elementSpec ident="termType">
                        <gloss>termType</gloss>
                        <desc>A categorization of a term with respect to formal representations of
                            terms or where or how they are used, for example, <val>acronym</val>.
                            The content of the <gi>termNote</gi> element when it has a
                                <att>type</att> attribute value of <val>termType</val> shall be one
                            of the following:<list>
                                <item>abbreviation</item>
                                <item>acronym</item>
                                <item>clippedTerm</item>
                                <item>commonName</item>
                                <item>entryTerm</item>
                                <item>equation</item>
                                <item>formula</item>
                                <item>fullForm</item>
                                <item>initialism</item>
                                <item>internationalism</item>
                                <item>internationalScientificTerm</item>
                                <item>logicalExpression</item>
                                <item>partNumber</item>
                                <item>phraseologicalUnit</item>
                                <item>transcribedForm</item>
                                <item>transliteratedForm</item>
                                <item>shortForm</item>
                                <item>shortcut</item>
                                <item>sku</item>
                                <item>standardText</item>
                                <item>string</item>
                                <item>symbol</item>
                                <item>synonym</item>
                                <item>synonymousPhrase</item>
                                <item>variant</item>
                            </list>Refer to ISO 12620 for definitions of the above term types. The
                            value <val>shortcut</val> refers to a string that acts as a keyboard
                            shortcut on computers, for example, <emph>Ctrl + V</emph> is a term that
                            represents a keyboard shortcut for the concept of
                            <emph>paste</emph>.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <elementRef key="entity.noteText"/>
                            <valList type="closed">
                                <valItem ident="abbreviation">
                                    <gloss>abbreviation</gloss>
                                </valItem>
                                <valItem ident="acronym">
                                    <gloss>acronym</gloss>
                                </valItem>
                                <valItem ident="clippedTerm">
                                    <gloss>clippedTerm</gloss>
                                </valItem>
                                <valItem ident="commonName">
                                    <gloss>commonName</gloss>
                                </valItem>
                                <valItem ident="entryTerm">
                                    <gloss>entryTerm</gloss>
                                </valItem>
                                <valItem ident="equation">
                                    <gloss>equation</gloss>
                                </valItem>
                                <valItem ident="formula">
                                    <gloss>formula</gloss>
                                </valItem>
                                <valItem ident="fullForm">
                                    <gloss>fullForm</gloss>
                                </valItem>
                                <valItem ident="initialism">
                                    <gloss>initialism</gloss>
                                </valItem>
                                <valItem ident="internationalism">
                                    <gloss>internationalism</gloss>
                                </valItem>
                                <valItem ident="internationalScientificTerm">
                                    <gloss>internationalScientificTerm</gloss>
                                </valItem>
                                <valItem ident="logicalExpression">
                                    <gloss>logicalExpression</gloss>
                                </valItem>
                                <valItem ident="partNumber">
                                    <gloss>partNumber</gloss>
                                </valItem>
                                <valItem ident="phraseologicalUnit">
                                    <gloss>phraseologicalUnit</gloss>
                                </valItem>
                                <valItem ident="transcribedForm">
                                    <gloss>transcribedForm</gloss>
                                </valItem>
                                <valItem ident="transliteratedForm">
                                    <gloss>transliteratedForm</gloss>
                                </valItem>
                                <valItem ident="shortForm">
                                    <gloss>shortForm</gloss>
                                </valItem>
                                <valItem ident="shortcut">
                                    <gloss>shortcut</gloss>
                                </valItem>
                                <valItem ident="sku">
                                    <gloss>sku</gloss>
                                </valItem>
                                <valItem ident="standardText">
                                    <gloss>standardText</gloss>
                                </valItem>
                                <valItem ident="string">
                                    <gloss>string</gloss>
                                </valItem>
                                <valItem ident="symbol">
                                    <gloss>symbol</gloss>
                                </valItem>
                                <valItem ident="synonym">
                                    <gloss>synonym</gloss>
                                </valItem>
                                <valItem ident="synonymousPhrase">
                                    <gloss>synonymousPhrase</gloss>
                                </valItem>
                                <valItem ident="variant">
                                    <gloss>variant</gloss>
                                </valItem>
                            </valList>
                        </content>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-transac">
                    <macroSpec ident="transac">
                        <desc>A record that indicates the stage of the entry within the overal
                            process of creation, approval, and use of a terminology entry. Currently
                            this element is only used to specify the type of transaction, and
                            therefore only one value is currently specified for the <att>type</att>
                            attribute. However, additional <att>type</att> attribute values can be
                            defined for additional purposes in a user-specific XCS file.</desc>
                        <content>
                            <elementRef key="transactionType"/>
                        </content>
                    </macroSpec>
                    <elementSpec ident="transactionType">
                        <gloss>transactionType</gloss>
                        <desc>A record that indicates the stage of the entry within the overall
                            process of creation, approval, and use of a terminology entry.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <valList type="closed">
                                <valItem ident="origination">
                                    <gloss>origination</gloss>
                                </valItem>
                                <valItem ident="input">
                                    <gloss>input</gloss>
                                </valItem>
                                <valItem ident="modification">
                                    <gloss>modification</gloss>
                                </valItem>
                                <valItem ident="check">
                                    <gloss>check</gloss>
                                </valItem>
                                <valItem ident="approval">
                                    <gloss>approval</gloss>
                                </valItem>
                                <valItem ident="withdrawl">
                                    <gloss>withdrawl</gloss>
                                </valItem>
                                <valItem ident="standardization">
                                    <gloss>standardization</gloss>
                                </valItem>
                                <valItem ident="exportation">
                                    <gloss>exportation</gloss>
                                </valItem>
                                <valItem ident="importation">
                                    <gloss>importation</gloss>
                                </valItem>
                                <valItem ident="proposal">
                                    <gloss>proposal</gloss>
                                </valItem>
                                <valItem ident="userAccess">
                                    <gloss>userAccess</gloss>
                                </valItem>
                            </valList>
                        </content>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-transacNote">
                    <macroSpec ident="transacNote">
                        <desc>Information about a transaction, such as the name of the person who
                            performed the transaction. The content of this element shall be
                            plainText.</desc>
                        <content>
                            <elementRef key="responsibility"/>
                        </content>
                    </macroSpec>
                    <elementSpec ident="responsibility">
                        <gloss>responsibility</gloss>
                        <desc>The name of a person or entity associated with a terminology
                            management transaction. The <gi>transacNote</gi> element with a
                                <att>type</att> attribute value of <val>responsibility</val> can
                            also have a <att>target</att> attribute to point to the identifier of a
                            bibliographic entry in a <gi>refObject</gi> that contains information
                            about the person or entity.</desc>
                        <classes>
                            <memberOf key="IDLangTgtDtyp"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>
                </specGrp>
                <specGrp xml:id="spec-xref">
                    <macroSpec ident="xref">
                        <desc>A linking element that points to an external object using a URI (a URL
                            or other Web address). The target attribute is required. The content of
                            the element is display text representing the target object, such as a
                            title, file name, or short description.</desc>
                        <content>
                            <alternate>
                                <elementRef key="externalCrossReferences"/>
                                <elementRef key="xGraphic"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <elementSpec ident="externalCrossReference">
                        <gloss>externalCrossReference</gloss>
                        <desc>A term or other terminological resource that is external to the
                            terminological database or TBX document instance.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="target" usage="req">
                                <desc>The URI of the external object.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                                <remarks>
                                    <p>Unlike the target attributes on most TBX elements, which
                                        point to other elements in the TBX XML document instance
                                        (hence, they have an IDREF datatype), the target attribute
                                        of an <gi>xref</gi> element points outside the TBX document,
                                        presumably to objects identified by URIs. Therefore, the
                                        datatype of the <att>target</att> attribute for an
                                            <gi>xref</gi> element is specified as CDATA.</p>
                                </remarks>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="xGraphic">
                        <gloss>xGraphic</gloss>
                        <desc>External graphic file.</desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="target" usage="req">
                                <desc>The URI of the external object.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                                <remarks>
                                    <p>Unlike the target attributes on most TBX elements, which
                                        point to other elements in the TBX XML document instance
                                        (hence, they have an IDREF datatype), the target attribute
                                        of an <gi>xref</gi> element points outside the TBX document,
                                        presumably to objects identified by URIs. Therefore, the
                                        datatype of the <att>target</att> attribute for an
                                            <gi>xref</gi> element is specified as CDATA.</p>
                                </remarks>
                            </attDef>
                        </attList>

                    </elementSpec>
                </specGrp>

                <specGrp xml:id="spec-macros-entities">
                    <macroSpec ident="entity.basicText">
                        <desc>Basic text is used for terms and term-like elements as well as a few
                            other elements. It allows plainText plus <gi>hi</gi> for some limited
                            embedded markup.</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="hi"/>
                            </alternate>
                        </content>
                    </macroSpec>

                    <macroSpec ident="entity.noteText">
                        <desc>Note text, which is used in definitions and contextual examples and
                            similar elements, allows more inline markup than basicText.</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <textNode/>
                                <elementRef key="hi"/>
                                <elementRef key="foreign"/>
                                <elementRef key="bpt"/>
                                <elementRef key="ept"/>
                                <elementRef key="ph"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    <!--<macroSpec ident="entity.auxInfo">
                        <desc>The auxInfo entity corresponds to information that can be associated
                            with any one of three levels: the terminological entry level
                                (<gi>conceptEntry</gi> (i.e., the concept level), the language level
                                (<gi>langSec</gi>), and the term level (<gi>termSec</gi>).</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="descrip"/>
                                <elementRef key="descripGrp"/>
                                <macroRef key="admin"/>
                                <elementRef key="adminGrp"/>
                                <elementRef key="transacGrp"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </macroSpec>
                    -->
                    <macroSpec ident="entity.noteLinkInfo">
                        <desc>This entity groups elements for administrative information, notes, and
                            links. It is used by the following grouping elements:
                                <gi>termCompGrp</gi>, <gi>termNoteGrp</gi> and
                            <gi>itemGrp</gi>.</desc>
                        <content>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <macroRef key="admin"/>
                                <elementRef key="adminGrp"/>
                                <elementRef key="transacGrp"/>
                                <elementRef key="note"/>
                                <macroRef key="ref"/>
                                <macroRef key="xref"/>
                            </alternate>
                        </content>
                    </macroSpec>
                </specGrp>

                <specGrp xml:id="spec-classes-atts">
                    <classSpec ident="idlang" type="atts">
                        <desc>The idlang attribute class combines the <att>id</att> attribute and
                            the <att>xml:lang</att> attribute. Both are optional for elements that
                            use this attribute class. </desc>
                        <classes>
                            <memberOf key="id"/>
                            <memberOf key="lang"/>
                        </classes>
                    </classSpec>

                    <classSpec ident="idtype" type="atts">
                        <desc>The idtype attribute class combines the <att>id</att> attribute and
                            the <att>type</att> attribute. Both are optional for elements that use
                            this attribute class. </desc>
                        <classes>
                            <memberOf key="id"/>
                        </classes>
                        <attList>

                            <attDef ident="type">
                                <desc>Indicates the type of the meta data-category.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>

                            </attDef>
                        </attList>

                    </classSpec>


                    <classSpec ident="id" type="atts">
                        <desc>The id attribute class corresponds to /elementIdentifier/ in ISO
                            12620. It indicates a unique identifier of an element. Element
                            identifiers can include entry identifiers (eid-...), concept identifiers
                            (cid-...), term identifiers (tid-...), among others. This attribute is
                            optional.</desc>
                        <attList>
                            <attDef ident="id">
                                <datatype>
                                    <dataRef name="ID"/>
                                </datatype>
                            </attDef>
                        </attList>

                    </classSpec>
                    <classSpec ident="target-IDREF" type="atts">
                        <desc>The target-IDREF attribute class corresponds to the <att>target</att>
                            attribute, which is a pointer to another element. The link is
                            established when the value of the <att>target</att> attribute of the
                            source element is the same as the value of the <att>xml:id</att>
                            attribute of the <emph>target</emph> element. When this attribute is
                            used with <gi>termNote</gi>, the target is often another term, such as
                            in the tag <tag>termNote type='abbreviatedFormFor'
                                target='tid-1234'</tag>. It is also available for the data-category
                                <val>transferComment</val> to indicate the term being commented
                            about. The pointer is a unique identifier. The content of elements that
                            take this attribute is typically the display value of the target
                            element, such as the target term. The elements that take this attribute
                            cannot be empty; display content is mandatory. In respect of the
                            principle of term autonomy, any term that is contained by this element
                            should have its own entry in the data collection.</desc>
                        <attList>
                            <attDef ident="target">
                                <datatype>
                                    <dataRef name="IDREF"/>
                                </datatype>
                            </attDef>
                        </attList>
                    </classSpec>

                    <classSpec ident="lang" type="atts">
                        <desc>The lang attribute class corresponds to the attribute
                                <att>xml:lang</att>.</desc>
                        <attList>
                            <attDef ident="xml:lang">
                                <desc>Indicates the language of the element content. The allowed
                                    values are found in IETF RFC 4646 or its successor. This
                                    attribute is optional for elements that use this attribute
                                    class. For a description, see the information at the
                                        <gi>tbx</gi> element.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                            </attDef>
                        </attList>
                    </classSpec>


                    <classSpec ident="IDLangTgtDtyp" type="atts">
                        <desc>This attribute class groups together the attributes <att>id</att>,
                                <att>xml:lang</att>, <att>target</att> and
                            <att>datatype</att></desc>
                        <classes>
                            <memberOf key="lang"/>
                            <memberOf key="id"/>
                            <memberOf key="target-IDREF"/>
                        </classes>
                        <attList>
                            <attDef ident="datatype">
                                <desc>The data type of plainText, or what is known as PCDATA.</desc>
                                <datatype>
                                    <textNode/>
                                </datatype>
                            </attDef>
                        </attList>

                    </classSpec>
                    <!-- end of part added by Sebastian -->
                </specGrp>
            </div1>
        </body>
    </text>
</TEI>
